

.error {
    color: red;
    font-size: 14px;
}

.formControl.error textarea {
    border-bottom: 2px solid red;
}

.formControl {
    height: 100%;
    width: 100%;
}

.formInputWrapper {
    height: 50px;
}

#formsInput {
    border-bottom: 2px solid red;
    transition: all 0.3s ease;
}

.inputErrorMessage {
    color: red;
    font-size: 14px;
}