
.birthdayContainer {
   display: flex;
   align-items: center;
   padding: 4px;
   border: 1px solid #9000ff;
   border-radius: 4px;
}

.birthdayImg {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.birthdayText {
   font-weight: 300;
   font-size: 15px;
}

.rightbarAd {
   width: 100%;
   border-radius: 10px;
   margin: 30px 0;
}

.rightbarFriendList {
   padding: 0;
   list-style: none;
   margin-bottom: 30px;
}

.rightbarTitle {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}
