.mainContentWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 400px 1fr;
    top: 40px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
    text-decoration: none;
}

.preloaderAppWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}