.messenger {
    height: calc(100vh - 70px);
    display: flex;
    max-width: 100%;
    /*display: grid;*/
    /*grid-template-columns: 10fr 5.5fr;*/
}

.messages {
    flex: 5.5;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatMessagesBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatSubmitBtn {
    margin-right: 24px;
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    width: 100px;
    height: 30px;
}

.chatSubmitBtn:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #9000ff, #9000ff);
    z-index: -2;
    transition: .4s;
    border-radius: 5px;
}

.chatSubmitBtn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff, #fff);
    z-index: -1;
    transition: .4s;
    border-radius: 4px;
}

.chatSubmitBtn:hover {
    color: #fff;
    transition: .3s;
}

.chatSubmitBtn:hover:after {
    background: linear-gradient(90deg, #7B68EE, #581cd3);
}

.chatSubmitBtn:active:after {
    background: linear-gradient(90deg, #7B68EE, #8502fa);
}

.chatSubmitBtn:focus-visible {
    box-shadow: 0 0 0 3px #7B68EE;
}

.chatSubmitBtn:disabled {
    pointer-events: none;
}

.chatSubmitBtn:disabled:before {
    filter: grayscale(100%);
}

.dialogs {
    flex: 3
}

.chatMenuWrapper,
.messagesWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagesTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
