.messenger {
    height: calc(100vh - 70px);
    display: flex;
    max-width: 100%;
    /*display: grid;*/
    /*grid-template-columns: 10fr 5.5fr;*/
}

.messages {
    flex: 5.5;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatMessagesBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatSubmitBtn {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    letter-spacing: 2px;

    transition: 8ms;
}

.chatSubmitBtn:hover {
    background-color: #0f5858;
    transform: scale(0.9);
    letter-spacing: 1px;
}

.chatSubmitBtn:active {
    transform: rotateY(5deg);
}

.dialogs {
    flex: 3
}

.chatMenuWrapper,
.messagesWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagesTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
